name: Build

on: [push, pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04]

    steps:

    - uses: actions/checkout@v3

    - run: |
        make build
      shell: bash
